.container {
  margin-left: 10px;
  margin-right: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 5%;
}

body {
  background-color: rgb(62, 62, 62);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.main-title {
  justify-self: center;
}

.sub-title {
  justify-self: left;
}

.form-control {
  border: none;
  background-color: rgb(112, 112, 112);
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border: none;
  background-color: rgb(112, 112, 112);
  color: white;
}

.input-group-text {
  background-color: rgb(82, 82, 82);
  color: white;
  border: none;
}

.card {
  width: 40%;
  background-color: rgb(212, 212, 212);
}

.results {
  font-weight: bolder;
  font-size: 40px;
  color: black;
}

h1 {
  color: black;
  font-weight: bolder;
}

.other-choices {
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 1%;
  margin-bottom: 1%;
}

.search-buttons {
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 1%;
  margin-bottom: 1%;
}

.dropdown-toggle {
  background-color: rgb(112, 112, 112);
}

.btn-secondary:hover {
  background-color: rgb(82, 82, 82);
}

.btn-secondary:focus {
  background-color: rgb(82, 82, 82);
}
.btn-secondary:active {
  background-color: rgb(82, 82, 82) !important;
  outline: none;
}

.dropdown-menu {
  background-color: rgb(212, 212, 212);
}

.title {
  text-align: center;
}